.page {
  width: 100vw;
  height: 100vh;
  background-color: #fff7f4;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.img {
}
.text {
  color: goldenrod;
  font-family: "GlacialIndifferenceRegular";
}
